<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>week4</title>
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
    </head>
    <body>
        <div class="header"><h2>歡迎光臨，請輸入帳號密碼</h2></div>
        <div class="main"><h3>登入系統</h3>
            <form action="/signin" method="POST" id="signcheck" class="in">
                帳號 <input type="text" name="id" id="input1"><br><br>
                密碼 <input type="text" name="password"><br>
            <input type="checkbox" class="in" id="box">同意條款<br>
            <button class="in">登入</button>  </form>
        </div>

        <br><hr>

        <div class="main">
            <h3>計算正整數的平方</h3>
            <form class="in" id="inte">
                正整數 <input type="text" id="v"><br>
                <button type="submit" class="in">送出</button>
            </form>
        </div>    
    </body>

    <script>
        let signcheck=document.querySelector("#signcheck")
        let box =document.querySelector("#box")
  
        signcheck.addEventListener("submit",function(checking){
            if(!box.checked){
                checking.preventDefault();
                alert("請先勾選")
            }})
            
        let inte = document.querySelector("#inte");

        inte.addEventListener("submit", function (event) {
        event.preventDefault(); 

        let number = document.querySelector("#v").value
        
        if (!/^[1-9]\d*$/.test(number)) {
        alert("請輸入有效的正整數");}
        else{window.location.href = `/square/${number}`  
    }   
    });   
        </script>
    </html>    