<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>week4</title>
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
    </head>
    <body>
        <div class="main">
            <div class="header"><h2>正整數平方計算結果</h2></div>
            <div class="in"> <h1>{{ result }}</h1></div>
            <a href="/" class="in">回首頁</a>
        </div>
    </body>
    <script>
        
    </script>
</html>    